@use "variables";

.dialog {
    background-color: variables.$color-raisin-black;
    box-shadow: 0px 0px 16px variables.$color-grey;

    &__buttons {
        padding-left: 0px;
        justify-content: space-evenly;

        &-btn {
            user-select: none;
            width: 100px;
            height: 25px;
            border-radius: 12.5px;
            background-color: variables.$color-raisin-black;
            color: variables.$color-white;
            border-color: variables.$color-white;

            &:hover {
                cursor: pointer;
            }    
        }
    }
}