<table mat-table class="table-view" [dataSource]="tasks">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>{{ 'tableView.name' | transloco }}</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>{{ 'tableView.description' | transloco }}</th>
    <td mat-cell *matCellDef="let element">{{ element.description }}</td>
  </ng-container>
  <ng-container matColumnDef="isCompleted">
    <th mat-header-cell *matHeaderCellDef>{{ 'tableView.completed' | transloco }}</th>
    <td mat-cell *matCellDef="let element">{{ element.isCompleted }}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns"></tr>
</table>