@use "variables";

.tables {
  background-color: transparent;

  &__tree {
    &-content {
      padding-left: 0.5rem;

      &:hover {
        cursor: pointer;
      }
    }

    &-header {
      display: flex;
      align-items: center;
      background: none;
      color: variables.$color-white;
      border: none;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
