.tables {
  user-select: none;
  background-color: transparent;

  &__tree {    
    display: flex;

    &-content {
      padding-left: 0.5rem;

      &:hover {
        cursor: pointer;
      }
    }

    &-header {
      display: flex;     
      align-items: center; 
      background: none;
      color: white;
      border: none;
      
      &:hover {
        cursor: pointer;
      }  
    }
  }
}