<div class="tables">
  <mat-accordion class="tables__accordion" [togglePosition]="'before'">
    <mat-expansion-panel class="tables__accordion-panel">
      <mat-expansion-panel-header class="tables__accordion-panel-header">
        <mat-panel-title> {{ 'tablesList.tables' | transloco }} </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="tables__accordion-panel-content">
        <p *ngFor="let table of tables" (click)="tableElementClicked($event)">{{ table.name }}</p>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>