.tables {
  user-select: none;

  &__mat-tree-node {
    &-content {
      display: flex;
      align-items: center;
      padding-left: 3.5rem;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__mat-nested-tree-node {
    padding-left: 0.5rem;

    &-header {
      display: inline-flex;

      &-btn {
        color: white;
        padding-top: 0.5rem;
        border: none;
        background: none;

        &:hover {
          cursor: pointer;
        }

        &-title {
          font-weight: 500;
        }
      }

      &-tables-tree-invisible {
        display: none;
      }
    }
  }
}