.navbar {
  border-radius: 0.625rem;
  box-shadow: 0px 0px 16px #00000025;
  width: 35rem;
  height: 1.2rem;
  display: flex;
  justify-content: space-evenly;
  user-select: none;

  &__button {
    border: transparent;

    &:hover {
      cursor: pointer;
    }    
  }

  &__divider {
    background-color: #ffffff;
  }
}