.app-navbar{

    & button{
        border: none;
        padding: 0.25rem 4rem ;
        background-color: rgb(255,255,255);
    }

    & button:first-child{
        border-right: 0.05rem solid rgb(128, 128, 128, 0.5);
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

    & button:last-child{
        border-left: 0.05rem solid rgb(128, 128, 128, 0.5);
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
}
