@use "variables";

.navbar {
  height: 1.2rem;
  border-radius: 0.625rem;
  background-color: variables.$color-raisin-black;
  box-shadow: 0px 0px 16px #00000025;
  display: flex;
  justify-content: space-evenly;
  user-select: none;
  padding: 0 10px;

  &__button {
    width: 100%;
    border: transparent;
    background-color: variables.$color-raisin-black;
    color: variables.$color-white;

    &:hover {
      cursor: pointer;
    }    
  }

  &__divider {
    background-color: #ffffff;
  }
}