.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.side-panel {
  position: relative;
  grid-column: span 3;
}

.main-content {
  grid-column: span 9;
}  

.nav-panel {
  position: fixed;
  bottom: 0;
}