@use "@angular/material" as mat;

$my-dark: mat.define-palette(mat.$grey-palette, 700, 800, 900);
$my-light: mat.define-palette(mat.$grey-palette, 100, 200, 300);
$my-accent:  mat.define-palette(mat.$grey-palette, 200, 400, 600);
$my-warn: mat.define-palette(mat.$red-palette);

$dark-theme:  mat.define-dark-theme((
  color: (
    primary: $my-dark,
    accent: $my-accent,
    warn:   $my-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

$light-theme: mat.define-light-theme((
  color: (
    primary: $my-light,
    accent: $my-accent,
    warn:   $my-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0,
));

@include mat.core-theme($light-theme);
@include mat.button-theme($light-theme);
@include mat.expansion-theme($light-theme);

@media (prefers-color-scheme: dark) {
  @include mat.core-color($dark-theme);
  @include mat.button-theme($dark-theme);
  @include mat.expansion-theme($dark-theme);
};

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
